html {
    scroll-behavior: smooth; /* smooth transition when navigation button with anchor will be choose */
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "Poppins",Arial, Helvetica, sans-serif;
}

#navbar {
    margin: 0;
    padding: 5px 0px;
    width: 100%;
    height: 50px;
    position: sticky; /* it means navbar will be pinned to the top when site is scrolling */
    top: 0;
    left: 0;
    background-color: white;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.1);
}

#navbar ul {
    display: flex; /* it helps to move elements into the block like it does not have a fixed mate */ 
    margin: 10px 0px 10px auto;
    width: 55%;
    justify-content: space-evenly; /* all elements inside the block are center and have the same distance between each other */
    list-style: none; /* delete a default settings for the list like dots on the front */
}

#navbar ul li a {
    margin-left: 3px;
    
}